body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: black;
}

h1 {

    margin: 10rem;
}
.teste {
    width:60%;
    margin-left: 3rem;
    color: #fff;

}

.teste input, .teste span, .teste textarea {
    border: none;
}


